// Colores

$color-verde-chillon: #C4E079;      
$color-verde: #D1E0A9;
$color-background: #F2F0E4;
$color-negro: #171D07;
$color-rosado: #EF9AB9;
$color-blanco: #fff;


h1,h2,h3,p{
    line-height: 150%;
}

// esto es de mobile, estoy trabajando el mobile primero asi que por mientras va a afectar todo

h1,h2,h3{
    font-family: 'Syne', sans-serif;
}

p{
    font-family: "Inter", sans-serif;
}

h2,h3{
    font-weight: 500;  // medium
}

h1{
    font-weight: 600; // semibold
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

.p-grande{
    font-size: 20px;
}

.p-mediano{
    font-size: 16px;
}

.p-pequeno{
    font-size: 12px;
}



