// Colores

$color-verde-chillon: #C4E079;      
$color-verde: #D1E0A9;
$color-background: #F2F0E4;
$color-negro: #171D07;
$color-rosado: #EF9AB9;
$color-blanco: #fff;


h1,h2,h3,p{
    line-height: 150%;
}

// Voy a cambiar los margins de bootstrapt para que que esten acorde a la guia de estilos

// Cada numero representa un nivel de espaciado
$spacings: (
    1: 30px,
    2: 40px,
    3: 60px,
    4: 80px,
    5: 100px
);

@each $k, $v in $spacings {
    // Margin
    .m-#{$k}  { margin: $v !important; }
    .mt-#{$k} { margin-top: $v !important; }
    .mb-#{$k} { margin-bottom: $v !important; }
    .ml-#{$k} { margin-left: $v !important; }
    .mr-#{$k} { margin-right: $v !important; }
    .mx-#{$k} { margin-left: $v !important; margin-right: $v !important; }
    .my-#{$k} { margin-top: $v !important;  margin-bottom: $v !important; }

    // Padding
    .p-#{$k}  { padding: $v !important; }
    .pt-#{$k} { padding-top: $v !important; }
    .pb-#{$k} { padding-bottom: $v !important; }
    .pl-#{$k} { padding-left: $v !important; }
    .pr-#{$k} { padding-right: $v !important; }
    .px-#{$k} { padding-left: $v !important; padding-right: $v !important; }
    .py-#{$k} { padding-top: $v !important;  padding-bottom: $v !important; }
}




// esto es de mobile, estoy trabajando el mobile primero asi que por mientras va a afectar todo

h1,h2,h3{
    font-family: 'Syne', sans-serif !important;
}

p, a{
    font-family: "Inter", sans-serif;
}

h2,h3{
    font-weight: 500;  // medium
}

h1{
    font-weight: 600; // semibold
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

.p-grande{
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.p-mediano{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.p-pequeno{
    font-family: "Inter", sans-serif;    
    font-size: 12px;
}



